{{ form.csrf_token() }}

<div class="row mb-2">
    <div class="col-6">
        <div class="row mb-2">
            <div class="col-8">
                {{ form.owner.label(class="form-label") }}
                {{ form.owner(class="form-control") }}
            </div>
            <div class="col-4">
                {{ form.typeCertificate.label(class="form-label") }}
                {{ form.typeCertificate(class="form-select") }}
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                {{ form.dateStart.label(class="form-label") }}
                {{ form.dateStart(class="form-control") }}
            </div>
            <div class="col">
                {{ form.dateEnd.label(class="form-label") }}
                {{ form.dateEnd(class="form-control") }}
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="mb-2">
            {{ form.fileCertificate.label(class="form-label") }}
            {{ form.fileCertificate(class="form-control") }}
        </div>
        <div class="">
            {{ form.fileContainer.label(class="form-label") }}
            {{ form.fileContainer(class="form-control") }}
        </div>

    </div>
</div>