{% extends 'layouts/base.html' %}
{% block title %} ЭЦП {% endblock %}

{% block body %}

    <div class="container">

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show m-3 position-absolute top-0 end-0"
                         role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col">
                <a class="btn btn-warning" aria-current="page" href="{{ url_for('page_sign_create') }}"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Добавить новую запись">
                <i class="far fa-plus"></i>
                </a>
            </div>
        </div>

        <hr>
        <div class="row mt-2">
            {% if records %}
                {% for record in records %}
                    <div class="col col-4">
                        <div class="card mb-3">
                            <div class="card-header d-flex align-items-center">
                                <h5 class="card-title m-0"><b>{{ record.owner }}</b></h5>
                            </div>
                            <div class="card-body lh-1">
                                <!-- <p>{{ moment().unix() < moment(record.dateEnd).unix() }}</p>
                                <p>{{ moment().unix()  }}</p> -->
                                <p class="card-text">Действует с <b class="badge text-bg-success">{{ moment(record.dateStart).format('DD-MM-YYYY') }}</b> по <b class="badge text-bg-success">{{ moment(record.dateEnd).format('DD-MM-YYYY') }}</b></p>
                                <p class="card-text">{{ record.serial_number }}</p>
                                <p class="card-text">
                                    {% if record.type == 'personal' %}
                                        Должностное лицо
                                    {% elif  record.type == 'organdname' %}
                                        Юридическое лицо
                                    {% elif  record.type == 'orgnotname' %}
                                        Юридическое лицо без ФИО
                                    {% elif  record.type == 'individual' %}
                                        Физическое лицо
                                    {% endif %}
                                </p>
                                <p class="card-text">Выдан: {{ record.issuer }}</p>
                                <p class="card-text">
                                    <a href="{{ url_for('download_file', file=record.fileCertificate) }}">Сертификат</a>
                                    |
                                    <a href="{{ url_for('download_file', file=record.fileContainer) }}">Контейнер</a>
                                </p>
                                <a href="{{ url_for('page_sign_edit', id=record.id) }}" class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt me-1"></i>Изменить</a>
                                <a href="{{ url_for('sign_delete', id=record.id) }}" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt me-1"></i>Удалить</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p class="text-secondary fst-italic">
                    Всего записей: {{ records|length if records else '0'}}
                </p>
            </div>
        </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    {{ super() }}
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}