{% extends 'layouts/base.html' %}
{% block title %} Тип документа {% endblock %}

{% block body %}

    <section class="section">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="far fa-plus"></i>
        </button>
        <hr>
        <table class="table table-sm table-hover mt-2">
            <thead>
                <tr class="table-light">
                    <th class="col align-middle">#</th>
                    <th class="col align-middle" colspan="2">Название</th>
                </tr>
            </thead>
            <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ record.name }}</td>
                        <!-- <td class="d-flex justify-content-end  align-items-center"> -->
                        <td style="text-align: end">
                            <a href="{{ url_for('page_table_edit', id=record.id) }}" class="link text-primary me-2">
                                <i class="fas fa-pencil-alt me-1"></i>Изменить
                            </a>
                            <a href="{{ url_for('table_delete', id=record.id) }}" class="link text-danger">
                                <i class="fas fa-trash-alt me-1"></i>Удалить
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2" class="text-center">Данных нет</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <p class="text-secondary fst-italic p-0">
            Всего записей: {{ records|length if records else '0'}}
        </p>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{{ url_for('table_store') }}" method="POST" enctype=multipart/form-data>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Добавление записи</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% include "doctype/components/form.html" %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button class="btn btn-success" type="submit"><i class="far fa-save me-1"></i>Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    {{ super() }}
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}