{% extends 'layouts/base.html' %}
{% block title %} Добавление {% endblock %}

{% block body %}
<div class="container">
    <div class="card mt-3">
        <div class="card-header">Добавление записи</div>
        <div class="card-body">
            <form action="{{ url_for('table_store') }}" method="POST" enctype=multipart/form-data>

                {% include "table/components/form.html" %}

                <button class="btn btn-primary" type="submit"><i class="far fa-save me-1"></i>Создать</button>
                <a class="btn btn-secondary" href="{{ url_for('page_table_index') }}">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}