{% extends 'layouts/base.html' %}
{% block title %} Таблицы {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-warning" aria-current="page" href="{{ url_for('page_table_create') }}"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Добавить новую запись">
                <i class="far fa-plus"></i>
                </a>
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <table class="table table-hover mt-2">
                <thead>
                <tr class="table-light">
                    <th class="col align-middle">ID</th>
                    <th colspan="2"class="col align-middle">Название</th>
                </tr>
                </thead>
                <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td>{{ record.name }}</td>
                        <td class="d-flex justify-content-end  align-items-center">
                            <a href="{{ url_for('page_table_edit', id=record.id) }}" class="btn btn-sm btn-warning">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{{ url_for('table_delete', id=record.id) }}" class="btn btn-sm btn-danger ms-1">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2" class="text-center">Данных нет</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p class="text-secondary fst-italic">
                    Всего записей: {{ records|length if records else '0'}}
                </p>
            </div>
        </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    {{ super() }}
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}