{{ form.csrf_token() }}

<div class="row mb-2">
    <div class="col-6 col-12">
        <div class="mb-2">
            {{ form.typeCertificate.label(class="form-label") }}
            {{ form.typeCertificate(class="form-select") }}
        </div>
        <div class="mb-2">
            {{ form.fileCertificate.label(class="form-label") }}
            {{ form.fileCertificate(class="form-control") }}
        </div>
        <div class="mb-2">
            {{ form.fileContainer.label(class="form-label") }}
            {{ form.fileContainer(class="form-control") }}
        </div>
    </div>
</div>
