{% extends 'base.html' %}

{% block title %} ПЦР {% endblock %}

{% block body %}
<div class="container">
    <div class="card mt-3">
        <div class="card-header">Добавление записи</div>
        <div class="card-body">
            <form action="/new" method="POST">
                <div class="row">
                    <label class="form-label col-6" for="">
                        Дата
                        <input type="date" class="form-control" name="date" id="date">
                    </label>
                    <label class="form-label col-6" for="">
                        Выполнено:
                        <input type="text" class="form-control" name="done" id="done">
                    </label>
                </div>
                <div class="row">
                    <label class="form-label col-6" for="">
                        Отправлено:
                        <input type="text" class="form-control" name="sent" id="sent">
                    </label>
                    <label class="form-label col-6" for="">
                        Ошибки:
                        <input type="text" class="form-control" name="mistakes" id="mistakes">
                    </label>
                </div>
                <button class="btn btn-primary" type="submit">Добавить</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}