{% extends 'base.html' %}

{% block title %} ПЦР {% endblock %}

{% block body %}
<div class="container">
    <div class="card mt-3">
        <div class="card-header">Добавление записи</div>
        <div class="card-body">
            <form form action="/new" method="POST">
                {{ form.csrf_token() }}

                <div class="row">
                    <div class="col-6">
                        {{ form.date.label(class="form-label") }}
                        {{ form.date(class="form-control", value=record.date) }}
                    </div>

                    <div class="col-6">
                        {{ form.sent.label(class="form-label") }}
                        {{ form.sent(class="form-control", value=record.sent) }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        {{ form.done.label(class="form-label") }}
                        {{ form.done(class="form-control", value=record.done) }}
                    </div>

                    <div class="col-6">
                        {{ form.mistakes.label(class="form-label") }}
                        {{ form.mistakes(class="form-control", value=record.mistakes) }}
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Создать</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}