{% extends 'base.html' %}

{% block title %} ПЦР {% endblock %}

{% block body %}
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th class="col">Дата</th>
                <th class="col">Выполнено</th>
                <th class="col">Отправлено</th>
                <th class="col">Ошибки</th>
                <th class="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.date }}</td>
                    <td>{{ record.done }}</td>
                    <td>{{ record.sent }}</td>
                    <td>{{ record.mistakes }}</td>
                    <td>
                        <a class="link" href="/{{ record.id }}/edit">Исправить</a>
                        <a class="link text-danger" href="/{{ record.id }}/delete">Удалить</a>
                    </td>
                </tr>
            {%endfor%}
                <tr>
                    <td>Итого</td>
                </tr>
        </tbody>
    </table>
</div>
{% endblock %}