{% extends 'layouts/base.html' %}
{% block title %} Редактирование {% endblock %}

{% block body %}
<section class="section">
    <div class="card mt-3">
        <form action="{{ url_for('data_update', id=record.id) }}" method="POST">
            <div class="card-header">Изменение записи</div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <select class="form-select" name="table" disabled>
                            {% for table in tables %}
                                <option value="{{ table[0] }}" {{ 'selected' if session['table'] in table[0] else '' }}>
                                    {{ table[1] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% include 'data/components/form.html' %}
            </div>
            <div class="card-footer d-flex justify-content-end">
                <a class="btn btn-secondary me-2" href="{{ url_for('page_data_index') }}">Отмена</a>
                <button class="btn btn-success" type="submit"><i class="far fa-save me-1"></i>Изменить</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}