{% extends 'base.html' %}
{% block title %} Таблица {% endblock %}

{% block body %}

    <div class="container">

        {% for table in tables %}
            {% if request.form.data or session['table'] in table %}
                <h1>Данные по <u>{{ table[1] }}</u></h1>
            {%endif%}
        {% endfor %}

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show m-3 position-absolute top-0 end-0"
                         role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="">
            <a class="btn btn-warning" aria-current="page" href="{{ url_for('page_pcr_create') }}">
                <i class="far fa-plus"></i>
            </a>
        </div>
        <div class="card mt-2 mb-2">
            <div class="card-body">
                <form id="SearchFormFromAdminPage" action=" {{ url_for('page_pcr_index') }} " method="post">
                    {{ form.csrf_token() }}
                    <div class="row mb-2">
                        <div class="col">
                            <select class="form-select" name="table" id="">
                                {% for table in tables %}
                                <option value="{{ table[0] }}" {{ 'selected' if session['table'] in table[0] else '' }}>{{ table[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th class="col"><i class="far fa-calendar-alt me-1"></i> Дата</th>
                <th class="col"><i class="fas fa-check me-1 text-success"></i> Выполнено</th>
                <th class="col"><i class="fas fa-paper-plane me-1 text-primary"></i> Отправлено</th>
                <th class="col"><i class="fas fa-exclamation-circle me-1 text-danger"></i> Ошибки</th>
                <th class="col"><i class="fas fa-bolt me-1 text-secondary"></i> Действия</th>
            </tr>
            </thead>
            <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                        <td>{{ moment(record.date).format('DD-MM-YYYY') }}</td>
                        <td>{{ record.done }}</td>
                        <td>{{ record.sent }}</td>
                        <td>{{ record.mistakes }}</td>
                        <td>
                            <a class="link text-primary" href="{{ url_for('pcr_page_edit', id=record.id) }}">
                            <i class="fas fa-pencil-alt me-1"></i>Изменить</a>
                            <a class="link text-danger" href="{{ url_for('pcr_delete', id=record.id) }}">
                                <i class="fas fa-trash-alt me-1"></i>Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Данных нет</td>
                </tr>
            {% endif %}

            {% if records %}
                <tr class="bg-warning fw-bold">
                    <td>Итого:</td>
                    <td>{{ records|sum(attribute="done") }}</td>
                    <td>{{ records|sum(attribute="sent") }}</td>
                    <td>{{ records|sum(attribute="mistakes") }}</td>
                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <p class="text-secondary fst-italic">
                    Всего записей: {{ records|length }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}