<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цифры ОКБ - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <ul class="navbar-nav justify-content-end p-2">
                <li class="nav-item">
                    <a class="btn btn-warning" aria-current="page" href="{{url_for('create')}}"><i class="far fa-plus me-1"></i> Добавить</a>
                </li>
            </ul>
        </div>
    </nav>


    {% block body %}{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{ moment.include_moment() }}
{% endblock %}
</body>
</html>