<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цифры ОКБ - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <main>
        {% block sidebar %}
        <aside>
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100" style="width: 280px">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" href="{{ url_for('home') }}">
                    <img class="me-2" width="50" src="{{ url_for('static', filename='img/logo/logo_small.png') }}" alt="Логотип ОКБ">
                    <span class="fs-4">Цифра</span>
                </a>
                <hr>
                <ul class="list-unstyled menu fw-normal pb-1 small mb-auto">
                    <li class="mb-1">
                        <button class="btn btn-toggle text-white align-items-center rounded w-100" data-bs-toggle="collapse" data-bs-target="#reports-collapse" aria-expanded="{{ 'true' if active_page else 'false' }}"><i class="fal fa-file-alt me-2"></i> Отчеты</button>
                        <div class="collapse {{ 'show' if active_page }}" id="reports-collapse">
                            <ul class="btn-toggle-nav submenu text-white list-unstyled fw-normal pb-1 small">
                                <li><a href="{{ url_for('page_pcr_index') }}" class="link-light mt-2 rounded {{ 'fw-bold bg-light text-dark' if active_page == 'pcr' else '' }}">ПЦР</a></li>
                                <li><a href="#" class="link-light mt-2 rounded">МСЭ</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <hr>
            </div>
        </aside>
        {% endblock %}

        <div class="divider"></div>

        <article class="p-3 position-relative">
            {% block body %}{% endblock %}
        </article>
    </main>



{% block scripts %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{ moment.include_moment() }}
{% endblock %}
</body>
</html>